@import url(../css/text.css);
@import url(/css/features.css);
@import url(works.css);

.bg-dark {
  background-color: #2b2e4a !important;}
  
  .container-fluid{
    padding: 0px 15px 0px 15px;
  }
.nav-link , .navbar-brand{
   color: #f4f4f4; 
   cursor: pointer;}
.nav-link{ 
  margin-right: 1em !important;}
.nav-link:hover{
   
   color: #e84545; }
.navbar-collapse{
  justify-content: space-evenly;}
.navbar-toggler{  background:#fff !important;}

  .intro-body {
    background-color:#2b2e4a ;
    -ms-flex: 1 1 auto;
    /*content: ;*/
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    text-align: center;
    padding-bottom: 7rem;
  }
  
  .intro-title {
    margin-top: 80px; 
      color:#ffffff ;
    margin-bottom: 0.75rem;
    white-space: nowrap;
  font-size: 3vw;
  max-width: 20ch;
  white-space: pre-wrap;
  margin-left: 33%;
  }
  
  .intro-text {
    white-space: nowrap;
  font-size: 1vw;
  max-width: 65ch;
  white-space: pre-wrap;
  margin-left: 30%;
  padding-bottom: 1rem;
  }
  .btn-primary {
    color: #fff;
    background-color: #e84545;
    border-color: #e84545;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #e84545;
    border-color: #e84545;
  }
  
  .btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #e84545;
    border-color: #e84545;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #e84545;
    border-color: #e84545;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #e84545;
    border-color: #e84545;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
  
 
  




/*.row {
    border: 1px solid #808088;
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.row-block {
    margin-top: 80px;
}

h3 {
    font-size: 20px;
    color: #808088;
    padding-left: 15px;
    padding-top: 5px;
}

.orange {
    color: #cc7d22;
}

.btn_border {
    border-radius: 40px 30px 10px 20px;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-md-8,
.col-md-4,
.col-md-6,
.col-sm-9 {
    border: 1px solid #cc7d22;
    background-color: aqua;
    padding: 10px;
}

.row-start {
    height: 100px;
}

.slide-block {
    margin: 30px auto 0;
}

.slide-block,
.carousel-item {
    width: 800px;
    height: 400px;}